.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  z-index: 150;
}

.event-modal {
  position: absolute;
  background: #1F1F31;
  width: 310px;
  height: 230px;
  color: #f7f7f7;
  right: auto;
  bottom: auto;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  outline: none;
  border-radius:10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  color: $color-button-pink;
}

.create-event-form {
  padding:30px;
  padding-top: 40px;
  line-height: 40px;
  text-align: center;

  .form-input {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    background: $color-main-font;
    font-family: $main-font;
    font-weight: 300;
    color: $color-main-dark;
  }

  input.form-submit {
    margin-top: 15px;
    width: 100px;
    height: 40px;
    padding: 8px;
    border: none;
    text-transform: uppercase;
    background: $color-button-green;
    color: $color-main-font;
    border-radius: 100px;
    outline: none;
    font-family: $main-font;
  }
}
