.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  z-index: 150;
}

.event-modal {
  position: absolute;
  background: #1F1F31;
  width: 300px;
  color: #f7f7f7;
  right: auto;
  bottom: auto;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  outline: none;
  border-radius:10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
