*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  list-style-type: none;
  background-color: $background-color-light;
  color: $body-font;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  // overflow-y: hidden;
}

.container {
  width: auto;
  // max-width: 100%;
  clear: both;
  margin-top: 4rem;
}

button {
  background-color: $button-color;
  font-weight: 300;
  border: none;
  border-radius: 40px;
  color: $body-font;
}
