body {
  background: $color-main-light;
  margin: 0;
  font-family: $main-font;
  font-weight: 300;
}

.main-container {
  position: relative;
}

.page-1 {
  position: absolute;
  top: $nav-height;
  bottom: 0;
  left: $nav-height;
  right: $nav-height;
}

.page-2 {
  position: absolute;
  top: $nav-height + 50px;
  bottom: 0;
  right: -80vw;
  width: 100%;
  height: 640px;
}

.page-3 {
  position: absolute;
  top: $nav-height + 50px;
  bottom: 0;
  right: -200vw;
  width: 100%;
  height: 640px;
}

button {
  text-transform: uppercase;
  color: $color-main-font;
  border-radius: 100px;
  padding: 0 2.2rem 0 2.2rem;
  height: 44px;
  border: none;
  background:$color-button-green;
  font-size: 14px;
}
