.nav {
  background: $color-main-medium;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $nav-height;
  color: $color-main-font;
  font-size: 0.9rem;
  font-weight: 200;

  .search-button {
    position: absolute;
    left: 71px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.round-button {
  background: $color-main-dark;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;

  i {
    line-height: 40px;
    color: $color-main-font;
  }
}

.user {
  position: absolute;
  right: 80px;
  top: 0;
  bottom: 0;
  line-height: $nav-height;

  .greeting {
    font-weight: 300;
  }

  .user-avatar img {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
  }
}

.user-avatar img {
  width: 30px;
  height:30px;
  border-radius: 50%;
}
