$color-main-light: #353559;
$color-main-medium: #282842;
$color-main-dark: #1F1F31;
$color-main-font: #f7f7f7;
$color-button-pink: #F00058;
$color-button-green: #00DB9A;

$main-font: 'Montserrat', sans-serif;
$nav-height: 60px;
