@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

#react-root {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  font-size: 13px;
}
.messages {
  border-radius: 20px;
}

main {
  max-height: 150px;
  overflow: auto;
}

.message {
  display: flex;
  margin-top: 7px;
  margin-bottom: 7px;
}

.message-username {
  font-weight: bold;
  font-size: 11px;
  color: lightgray;
  display: table-cell;
  padding-right: 10px;
}

.message-content {
  background: #f7f7f7;
  padding: 8px 15px;
  color: gray;
  border-radius: 20px;
  display: table-cell;
}

.chatbar {
  border-top: 1px solid lightgray;
  padding-top: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    height: 24px;
    padding: 4px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid lightgray;

    &:focus {
      
    }
  }
}

.chatbar-username {
  flex: 100px 0;
}

.chatbar-message {
  flex: 1 1 auto;
  margin-left: 15px;
}